.col-contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
}

.contacts {
    margin: auto;
}

.col-contacts li {
    list-style: none;
    padding-bottom: 30px;
}

.phone {
    width: 25px;
    height: 25px;
    padding: 1px;
}

.email {
    width: 25px;
    height: 25px;
}

.instagram {
    width: 25px;
    height: 25px;
}