* {
    margin: 0;
    padding: 0;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
    color: #00bac6;
}

:root {
    --cor-primaria: #23232e;
    --cor-secundaria: #fff;
    --cor-tercoaria: #00bac6;
    --cor-hover: #00bac6;
}

main {
    background-color: #23232e;
    height: auto;
}

.line4 {
    background: #ffffff;
    height: 2px;
    width: 90%;
    margin: auto;

}

body {
    width: 100%;
    min-width: 280px;
    max-width: 1920px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #23232e;

}

.banner img {
    margin: 0;
    padding: 5%;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 50px;
}

/*=======================================================*/

.container {
    text-align: center;
    padding: 10px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

button {
    margin-left: 10px;
    font-size: 24px;
    font-family: "Futura Lt BT", sans-serif;
    background-color: black;
    background-repeat: no-repeat;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 8px 20px 8px 20px;
    color: white;
    box-shadow: 0px 0px 5px gray;
    border-radius: 5px 5px 0 0;
    border: none;
    transition: 500ms;
    opacity: 0.8;
    margin-top: 30px;
    margin-left: 30px;
}

button:hover {
    color: white;
    background-color: gray;
}

button:active {
    color: black;
    background-color: white;
}

.resultado {
    margin-bottom: 30px;
}